/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.container-header-1{
    padding: 20px 0;
    background-color: #255EE9;
}

nav{
    width: calc(100% - 25%);
    margin: 0px auto;
    display: flex;
}

.box-nav{
    width: calc(100% / 3);
    display: flex;
}

#box2{
    width: calc(100% - 30%);
    text-align: center;
    justify-content: center;
    align-items: center;

}
#box2 li{
    color: white;
    padding: 0 10px;
}

ul{
    list-style-type: none;
}

#box2 ul > *{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}
    

#box3{
    justify-content: end;
    align-items: center;
}


.button{
    padding: 10px;
    border-radius: 30px;
    color: black;
    background-color: white;
}




.container-header-2{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
}

.header-box-pink{
    margin: 150px auto;
    width: calc(100% - 50%);
    text-align: center;
}

.container-header-2 h1{
    padding-bottom: 20px;
    font-size: 3em;


}

.container-header-2 p{
    font-size: 14px;
    margin-bottom: 30px;
}

.container-header-2 .button{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header-2 .btn-black{
    margin-left: 20px;
    background-color: black;
    color: white;
}



/* MAIN */
.container-main{
    display: flex;
}

.grey{
    background-color: lightgray;
}

.box-main{
    display: flex;
    margin: 20px auto;
    width: calc(100% - 25%);
    height: 300px;
}

#box-main-1{
    content: none;
    width: calc(100% - 30%);
    border: 1px dashed black;
}

#box-main-2{
    content: none;
    width: calc(100% - 60%);
    border: 1px dashed black;
}

.flip{
    flex-direction: row-reverse;
}

#box-main-end{
    content: none;
    border: 1px dashed black;
    height: 600px;
}


/* FOOTER */
.container-footer{
    display: flex;
}

.box-footer{
    display: flex;    
    margin: 10px auto;
    margin-bottom: 20px;
    width: calc(100% - 25%);
    height: 350px;
}

.box-footer-1{
    content: none;
    width: calc(100% / 3);
    border: 1px dashed black;
}

.box-footer-2{
    content: none;
    display: flex;
    width: 100%;
    border: 1px dashed black;
}

.col-box-footer-2{
    content: none;
    width: calc(100% / 4);
    border: 1px dashed white;
}

.box-bottom-footer{
    display: flex;
    margin: 10px auto;
    width: calc(100% - 25%);
    justify-content: space-between;
    height: 40px;
    
}
.nav-footer{
   background-color: pink;
   align-self: center;
   padding: 3px;
   border: 1px dashed black;
}



/* DEBUG */

#box-main-1{
    background-color: #1E90FF;
}

#box-main-2{
    background-color: pink;
}

#box-main-end{
    background-color: green;
}

.container-footer{
    background-color: #23272A;
}

.box-footer{
    background-color: #20B2AA;
}

.box-footer-1{
    background-color:rgb(216, 99, 161)
}

.box-bottom-footer{
   background-color: aquamarine;
}